

.content-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  h1 {
    font: 400 25px 'Roboto';
    color: #1667b8;
  }

  .img {
    color: transparent;
    cursor: pointer;
    transition: all 1s linear;

    &::before {
      content: 'CREATE  ';
    }

    &:hover {
      color: #627d9485;
    }
  }
}
