.block-nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .img {
    background-image: url(./assets/logoo.png);
    width: 200px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  nav {
    display: flex;
    align-items: center;

    p {
      font: 400 18px 'Roboto';
      margin-bottom: 2px;
      color: #1667b8;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }
}